# This is the root editorconfig file
root = true

[*]
indent_style = space
indent_size = 2

[*.cs]
indent_size = 2
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_prefer_braces = true:none
csharp_style_throw_expression = false:suggestion
#csharp_new_line_before_open_brace = types,methods